h5 {
    margin: 5px;
    padding: 10px 5px 5px 5px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    margin: 0;
    padding: 0px 5px 5px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* resize: horizontal; */
}

.card {
    margin: 5px;
    max-width: 220px;
    overflow: hidden;
    border-radius: 4px;
    background: white;
    box-shadow: 1px 4px 10px rgb(0 0 0 / 20%);    color: #212529;
    font-family: 'Inter', sans-serif;
}

.carButton {
    border: none;
    background-color: #FFFDFD;
    align-items: flex-end;
    font-size: large;
}

.carButton:hover {
    font-weight: bold;
    cursor: pointer;
}