h3 {
    margin: 5px;
    font-weight: 400;
}

button {
    margin-top: 0;
}

input {
    background: transparent;
}

textarea {
    background: transparent;
    color: #fff;
}

select {
    background: transparent;
    color: #fff;
}

input {
    color: #fff;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
}

.buttonContainer {
    position:relative;
    left: 40%;
}

.contenedorModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 95%;
    background: #fff;
    position: relative;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    background-image: url('../../../../public/shattered-island.gif');

    /* background: rgb(238,174,210);
    background: radial-gradient(circle, rgba(238,174,210,1) 0%, rgba(179,182,242,1) 100%); */
    /* padding: 20px; */
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    /* background-color:#ffa43a; */
    color: #fff;
}

.buttonCloseModal {
    margin: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.modalHeader svg {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .contenedorModal {
        width: 50%;
    }
}
